<div class="col">
  <%= link_to mydashboard_path(), class: "button" do %>
    <div class=""style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_tag language.image %>')">
        <p><%= language.name %></p>
    </div>
  <% end %>
</div>
