<nav class="navbar">
  <div class="navbar-brand">DevBrawl</div>
  <div class="navbar-links">
    <a href="#" class="nav-link">Login</a>
    <a href="#" class="nav-link nav-link-signup">Sign up free!</a>
  </div>
</nav>
