<%# _progress_bar.html.erb %>

<% user = current_user %>
<% language = local_assigns[:language] %>

<% percentage = user.completion_percentage_for(language.name) %>

<div class="progress" style="height: 30px;">

  <div class="progress-bar progress-bar-striped progress-bar-animated"
       id="progress-bar"
       style="width: <%= percentage %>%;"
       role="progressbar"
       aria-valuenow="<%= percentage %>"
       aria-valuemin="0"
       aria-valuemax="100">

    <p style="margin: 0; text-align: center;">
      <%= language.name %> - <%= number_to_percentage(percentage, precision: 0) %>
    </p>

  </div>

</div>
