<div class="card text-bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header"><h5><strong>PVP BRAWL</strong></h5></div>
  <div class="card-body">
    <p class="card-text">Battle 1v1 for code supremacy! Destroy them all , one by one</p>
   <%= link_to "START CHALLENGE", new_language_challenge_submission_path(language, language.challenges), class: "btn btn-primary btn-lg" %>
  </div>
</div>
