<div class="card text-bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header"><h5><strong>TIME TRIAL</strong></h5></div>
  <div class="card-body">
    <p class="card-text">Batlle against time , because here time is your enemy!</p>
  <%= link_to "START CHALLENGE", new_language_challenge_submission_path(language, language.challenges), class: "fw-bold btn btn-primary btn-lg" %>
  </div>
</div>
