<div class="card text-bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header"><h5><strong>PVP BRAWL</strong></h5></div>
  <div class="card-body">
    <p class="card-text">Train your skills, so you can stop sucking newbie!</p>
    <%= link_to "start challenge" , new_language_submission_path(language),class:"btn btn-primary btn-lg"%>
  </div>
</div>
