<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
</head>
<body>
  <main role="main">
      <div class="hero-section">
        <div class="hero-content">
          <h2>Battle for Code Supremacy</h2>
          <p>Experience the thrill of coding competition like never before.</p>
        </div>
      </div>
  </main>
  
</body>
</html>
