<div class="">
 <div class="container m-5">
  <div class="row">
    <h1 class="dash-title">Dashboard</h1>
    <h2>Choose a language</h2>
    <div class="accordion" id="accordionExample">
      <% @languages.each_with_index do |language, index| %>
        <%= render "shared/card_language", language: language, index: index %>
      <% end %>
    </div>
  </div>
</div>
</div>
