<div class="container-ide">
  <div id="editor" data-controller="create-submission">function foo(items) {
      var x = "All this is syntax highlighted";
      return x;
  }</div>
</div>



<%#  %>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/javascript");
</script>

<%= @challenge.name %>
