.btn-primary {
    background-image: $gradientColour;
    border: none;
    color: #fff;
  }
  .btn-ghost {
    color: $primaryColor;
    border: 1px solid white;
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: lighter;
    transition: opacity 0.3s ease;
    width: 100%;
  }

  .btn-ghost:hover {
    scale: 1.2;
    color: red;
  }
