.card {
    background-image: linear-gradient(to right, #A813EB, #7103FD) !important;
    color: white;
    border: none;
}

#card-game{
  background-color: $gradientColour !important;
  border-radius: 8px;
  color: $secondaryColor;
}
