.container-ide{
  width: 700px;
  height: 700px;
  position: relative;
}

.blurred {
  filter: blur(5px);
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
