.main-footer {
  position: relative;
  color: white;
  text-align: center;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#matrixCanvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.main-footer p {
  z-index: 2;
  position: relative;
}
