.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 1rem 2rem;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 5px 10px #39BC40;

  .navbar-brand {
    color: #fff;
    font-family: 'Blanka';
    font-size: 2rem;
    font-weight: bold;
    text-shadow: -1px -1px 0 $primaryColor,
                  1px -1px 0 $primaryColor,
                 -1px 1px 0 $primaryColor,
                  1px 1px 0 $primaryColor;
  }

  .navbar-toggler {
    border: none;
    &:focus {
      box-shadow: none;
    }
  }

  .nav-link {
    color: #fff;
    padding: 0.5rem 1rem;
    &:hover {
      background-color: darken($primaryColor, 10%);
      text-decoration: none;
    }
  }

  .nav-link-login {
    background-image: linear-gradient(to right, #39BC40, #03050d);
    border-radius: 5px;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: background-color 0.3s;
  }
}

.no-decor{
  text-decoration: none;
}
