// _variables.scss
$primaryColor: #39BC40; // Primary color
$secondaryColor: #0E0E0E; // Secondary color
$buttonPrimaryBg: #007bff; // Button background color

// font
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

$font-family: 'Orbitron', sans-serif;
